.pb8 {
  padding-bottom: 8px;
}

.pb24 {
  padding-bottom: 24px;
}

.pl16 {
  padding-left: 16px;
}

.pt16 {
  padding-top: 16px;
}

.pt24 {
  padding-top: 24px;
}

.pt32 {
  padding-top: 32px;
}

.pt40 {
  padding-top: 40px;
}

/*Margin Top Styles */
.mt0 {
  margin-top: 0;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}
.mt24 {
  margin-top: 24px;
}

.mt32 {
  margin-top: 32px;
}

.mt40 {
  margin-top: 40px;
}

.mt56 {
  margin-top: 56px;
}

.mt80 {
  margin-top: 80px;
}

/*Margin Bottom Styles */
.mb0 {
  margin-bottom: 0;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}
.mb24 {
  margin-bottom: 24px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb40 {
  margin-bottom: 40px;
}

label {
  display: block;
}

#header {
    padding-top: 24px;
}

.error {
  color: red;
  padding-left: 16px;
}

.count{
  font-family: 'Neuton';
  font-style: normal;
  font-size: 90px;
  text-align: center;
}


.reg {
  text-align: center;
  font-family: 'Neuton';
  font-style: normal;
  font-size: 25px;
}

.title-font {
  font-family: 'Neuton';
  font-style: normal;
  font-size: 30px;
}

.body {
  font-family: 'Neuton';
  font-style: normal;
  font-size: 30px;

}

label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 15px;

}

button, input[type="submit"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
}

ol, li {
  font-family: 'Neuton';
  font-style: normal;
  font-size: 15px;
}

.font {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: bold;
}

.success {
  margin-top: 24px;
}

.lo {
  border: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.login-wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.login-form {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}


.form-con {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.hr-dashboard {
  margin-top: 0;
  margin-bottom: 10px;
}

.dashboard-count {
  font-family: 'Muli', "Helvetica", Arial, sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

.tag {
  text-align: center;
  font-family: 'Muli', "Helvetica", Arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.dashboard-btn {
  border-radius: 0;
  min-width: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .dashboard-btn {
    margin-bottom: 15px;
    margin-top: 7px;
    padding: 8px;
  }
}
